body {
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
        background: url('./Asset/Background.png')lightgray 50% / cover no-repeat;; /* Replace with your image path */
        height: 100vh; /* Set the body height to 100% of the viewport height */
        width: 100vw;
        overflow-x: hidden;
    }  
